/*:host /deep/ .mat-input-underline {
  background-color: red;
}*/

.clickable{
  cursor: pointer;
}

a.lien{
  cursor: pointer;
  color: dodgerblue;
  text-decoration: underline;
}

.moveToRight{
  padding-top: 8%;
  padding-left: 25%;
  //padding-right: 10%;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
