<!--<h6><b><u>{{selectedArtist.nickname}} - Albums et Singles</u></b></h6>-->
<div class="ui small breadcrumb">
  <div class="active section">{{selectedArtist.nickname}} - Albums et Singles</div>
</div>
<!--<mat-divider></mat-divider>-->
<br>
<div class="row">
  <div class="col-sm-3">
    <mdb-card>
      <!--Card image-->
      <div class="view overlay waves-light" mdbWavesEffect>
        <div  style="text-align: center">
          <!--<mdb-card-img src="http://localhost:8080/artist/image/{{artistID}}" *ngIf="selectedArtist?.imageURL" class="ui circular small image"></mdb-card-img>-->
          <mdb-card-img src="http://localhost:8080/artist/image/{{artistID}}" *ngIf="selectedArtist?.imageURL"></mdb-card-img>
          <mdb-card-img src="../../assets/images/userdefault.jpg" *ngIf="!selectedArtist?.imageURL"></mdb-card-img>
        </div>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/.Card image-->

      <!--Card content-->
      <mdb-card-body>
        <a class="activator px-3 mr-2">
          <i class="fas fa-share-alt"></i>
        </a>

        <!--Title-->
        <mdb-card-title>
          <h4>{{selectedArtist.nickname}}</h4>
        </mdb-card-title>
        <hr>
        <!--Text-->

        <mdb-card-text>
          <div class="ui placeholder" *ngIf="!selectedArtist?.gender">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
          <div *ngIf="selectedArtist?.gender">
            <span *ngIf="selectedArtist.gender === 'homme'">
              <i class="male icon"></i>{{selectedArtist.gender}}<br>
            </span>
            <span *ngIf="selectedArtist.gender === 'femme'">
              <i class="female icon"></i>{{selectedArtist.gender}}<br>
            </span>
            <!--<i class="calendar alternate outline icon"></i>{{selectedArtist.birthdate}}<br>-->
            <!--<i class="address card outline icon"></i>{{selectedArtist.address}}<br>-->
            <i class="location arrow icon"></i>De : {{selectedArtist.city}}
          </div>
        </mdb-card-text>
        <div class="ui labeled button" tabindex="0" style="cursor: default" *ngIf="selectedArtist?.gender">
          <div class="ui basic label">
            <mat-icon>library_music</mat-icon> {{ countAlbums}} albums
          </div>
          <div class="ui basic label">
            <mat-icon>music_note</mat-icon> {{countSingles}} singles
          </div>
        </div>
      </mdb-card-body>
    </mdb-card>
  </div>

  <!--<div class="col-sm-2">
    <div class="card">
      <img src="http://localhost:8080/artist/image/{{artistID}}" class="ui small circular image">
      <div class="card-header">
        &lt;!&ndash;<img src="http://localhost:8080/artist/image/{{artistID}}" class="style rounded-circle">&ndash;&gt;
        <h4 class="text-center"><strong>{{selectedArtist.nickname}}</strong></h4><br>
        <p style="font-size: 10px">
          <span *ngIf="selectedArtist.gender === 'Homme'">
            <i class="male icon"></i>{{selectedArtist.gender}}<br>
          </span>
          <span *ngIf="selectedArtist.gender === 'Femme'">
            <i class="female icon"></i>{{selectedArtist.gender}}<br>
          </span>
          <i class="calendar alternate outline icon"></i>{{selectedArtist.birthdate}}<br>
          <i class="address card outline icon"></i>{{selectedArtist.address}}<br>
          <i class="map marker alternate icon"></i>{{selectedArtist.city}}
        </p>
      </div>
    </div>
  </div>
-->
  <div class="col-sm-9">
    <mat-tab-group animationDuration="2000ms">
      <mat-tab label="Albums" class="no-scroll">
        <br>
        <!--<div class="row">
          <div *ngFor="let album of albums | async" class="col-sm-3">
            <p-card header="{{album.albumName}}" [style]="{width: '200px'}" class="clickcursor" styleClass="ui-card-shadow" (click)="goToTracks(album)">
              <p-header>
                <img src="Card" src="http://localhost:8080/album/image/{{album.id}}" height="100">
              </p-header>
              <p style="font-size: 10px">
                {{album.gender}} <br>
                {{album.trackCount}} songs <br>
                Released {{album.releaseDate | date: 'd MMM yyyy'}}<br>
                {{album.views}} views
              </p>
            </p-card>
          </div>
        </div>-->
        <div class="row no-scroll" *ngIf="(albums | async)?.length > 0; else elseBlock1">
          <div class="col-lg-2 col-md-4 col-sm-6" *ngFor="let album of albums | async">
            <mat-card class="album-card" matRipple [routerLink]="[album.id, album.albumName, 'tracks']">
              <mat-card-content>
                <img src="http://localhost:8080/album/image/{{album.id}}"  width="100%" height="100" class="responsive-image">
              </mat-card-content>
              <mat-card-header class="album-header">
                <mat-card-title class="album-title">{{album.albumName}}</mat-card-title>
                <mat-card-subtitle>
                  <p style="font-size: 10px">
                    <i class="genderless icon"></i>{{album.gender}}<br>
                    <i class="music icon"></i>{{album.trackCount}} chansons<br>
                    <i class="eye icon"></i>{{album.views}} vues <br>
                    <i class="heart icon"></i>{{album.rating}} j'aime <br>
                  </p>
                </mat-card-subtitle>
                <!--<script> $(".rating").rating();</script>-->
                <!--<div class="ui rating" data-max-rating="5"></div>-->
              </mat-card-header>
            </mat-card>
          </div>
        </div>
        <ng-template #elseBlock1>No albums.</ng-template>
      </mat-tab>
      <mat-tab label="Singles">
        <br>
        <div *ngIf="dataSource.data.length > 0; else elseBlock2">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrer">
          </mat-form-field>

          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort style="width: 100%">

              <!-- img Column -->
              <ng-container matColumnDef="trackImageURL">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell *matCellDef="let row">
                  <img src="http://localhost:8080/track/image/{{row.id}}" *ngIf="row?.trackImageURL" class="ui mini image"/>
                  <img src="../../assets/images/songDefault.jpg" *ngIf="!row?.trackImageURL" class="ui mini image"/>
              </ng-container>

              <!-- N° Column -->
              <ng-container matColumnDef="trackNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> N° </th>
                <td mat-cell *matCellDef="let row"> {{row.trackNumber }} </td>
              </ng-container>

              <!-- track title Column -->
              <ng-container matColumnDef="trackTitle">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> titre de single </th>
                <td mat-cell *matCellDef="let row">{{row.trackTitle}} </td>
              </ng-container>

              <!-- time Column -->
              <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> durée </th>
                <td mat-cell *matCellDef="let row"> {{row.time}} </td>
              </ng-container>

              <!-- date Column -->
              <ng-container matColumnDef="releaseDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> date de sortie </th>
                <td mat-cell *matCellDef="let row"> {{row.releaseDate | date: 'dd-MM-yyyy'}} </td>
              </ng-container>

              <!-- views Column -->
              <ng-container matColumnDef="views">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> <mat-icon>visibility</mat-icon> </th>
                <td mat-cell *matCellDef="let row"> {{row.views}} vues</td>
              </ng-container>

              <!-- rating Column -->
              <ng-container matColumnDef="rating">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> j'aime </th>
                <td mat-cell *matCellDef="let row"> <i class="heart outline icon large"></i> {{row.rating}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="row.views > 100?frame.show():''; row.views < 100?playTrackWhitoutAdvrt(row):playTrack(row)" class="clickcursor">
              </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
          </div>

        </div>
        <ng-template #elseBlock2>No singles.</ng-template>
      </mat-tab>
    </mat-tab-group>

    <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" (closed)="continue()" >
      <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content form-elegant">
          <!--Header-->
          <div class="modal-header text-center">
            <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel">
              <img class="animated bounce" src="http://localhost:8080/advertisements/logo/{{adv.id}}" height="65" width="65" *ngIf="adv.logo"/>
              <strong> {{adv.title}}</strong>
              <!--<br>-->
            </h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()"
                    data-inverted="" data-tooltip="Fermer l'annonce" data-position="right center">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!--Body-->
          <div class="modal-body mx-4">
            <!--Body-->
            <div class="md-form mb-5">
              <a href="{{adv.website}}" target="_blank" (click)="clickLinkAdvertisement()">
                <img src="http://localhost:8080/advertisements/image/{{adv.id}}" width="100%" height="200px" *ngIf="adv.image"/>
              </a>
              <br>
              (Sponsorisée.)<br>
              {{adv.description}}
              <a href="{{adv.website}}" target="_blank" (click)="clickLinkAdvertisement()">En savoir plus <i class="angle right icon"></i></a>
            </div>
            <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2"> Nos réseaux sociaux :</p>
            <div class="row my-3 d-flex justify-content-center">
              <!--Facebook-->
              <button type="button" mdbBtn color="white" rounded="true" class="mr-md-3 z-depth-1a waves-light"
                      mdbWavesEffect *ngIf="adv.facebook" (click)="clickLinkAdvertisement()">
                <a href="{{adv.facebook}}" target="_blank">
                  <i class="facebook icon large"></i>
                </a>
              </button>
              <!--Twitter-->
              <button type="button" mdbBtn color="white" rounded="true" class="mr-md-3 z-depth-1a waves-light"
                      mdbWavesEffect *ngIf="adv.twitter" (click)="clickLinkAdvertisement()">
                <a href="{{adv.twitter}}" target="_blank">
                  <i class="twitter icon large"></i>
                </a>
              </button>
              <!--Instagram +-->
              <button type="button" mdbBtn color="white" rounded="true" class="mr-md-3 z-depth-1a waves-light"
                      mdbWavesEffect *ngIf="adv.instagram" (click)="clickLinkAdvertisement()">
                <a href="{{adv.instagram}}" target="_blank">
                  <i class="instagram icon large"></i>
                </a>
              </button>
              <!--Youtube +-->
              <button type="button" mdbBtn color="white" rounded="true" class="z-depth-1a waves-light"
                      mdbWavesEffect *ngIf="adv.youtube" (click)="clickLinkAdvertisement()">
                <a href="{{adv.youtube}}" target="_blank">
                  <i class="youtube icon large"></i>
                </a>
              </button>
            </div>
          </div>
          <!--Footer-->

        </div>
        <!--/.Content-->
      </div>
    </div>

  </div>
</div>

